@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

main {
    display: flex;
    flex-direction: column;
    width: 370px;
}

.title {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 30px;
    margin-left: 18px;
}

.title_modal_window {
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.131);
   margin-bottom: 20px;
   padding: 20px;
   width: 100%;
}

li {
  list-style-type: none;
  border-top: 1px solid #d8d7d7;
}
.li_box {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 15px 30px;
  
}

.modal_overlay {
  position: fixed; /* фиксированное положение на экране */
  width: 370px; /* растягивается на весь экран */
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный чёрный фон */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1000; /* поверх других элементов */
  opacity: 1;
  transition: opacity 0.3s ease;
  
}
.modal_overlay.fadeOut {
  opacity: 0;
  pointer-events: none;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.slideUp {
  animation: slideUp 0.3s ease forwards;
}

.modal_content {
  background: white; 
  border-radius: 10px;
  max-height: 80%; 
  overflow: scroll; /* прокрутка если слишком много текста */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
  width: 100%;
  height: 80vh;
}

@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}
.slideDown {
  animation: slideDown 0.3s ease forwards;
}
